*{
    padding: 0;
    margin: 0;
}

a{
    position: relative;
    padding-left: 0px;
    color: white;
    text-decoration: none;
    font-size: x-large;
    padding: 10px 20px 10px 20px;
    margin: 10px 0 0 0;
    display: block;
}

nav{
    padding: 0;
    left: 0;
    top: 0;
    width: auto;
    height: 100vh;
    background-color: var(--mat-sys-primary);
    // display: flex;
    z-index: 10;
}

.active{
    font-weight: 500;
   color: var(--mat-sys-on-primary); 
   font-size: 1.7em;
   padding: 10px 20px 10px 25px;
   border-left: 3px solid var(--mat-sys-primary-fixed);
}

h1{
    position: relative;
    padding-left: 0px;
    color: white;
    text-decoration: none;
    font-size: 26px;
    padding: 30px 20px 0 20px;
    margin: 0 0 30px 0;
    display: block;
}

hr{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
}