@if ((station$ | async) && (fuels$ | async) && (promotions$ | async) && (services$ | async)) {
  @let data = dataSource;

  <article>
    @for (item of data.data; track item) {
      <!-- NAME -->
      <mat-card class="main-card">
        <div>
          <mat-card-header class="icon-positioning">
            <mat-card-title
              >{{ item.name
              }}<mat-icon style="margin-left: 8px; padding-top: 4px; height: 25px">star</mat-icon
              >{{ item.rating }}</mat-card-title
            >
          </mat-card-header>
          <mat-card-content class="icon-positioning">
            <mat-icon>location_on</mat-icon>
            <mat-card-subtitle>{{ item.address }}</mat-card-subtitle>
          </mat-card-content>
        </div>
        <div>
          <mat-card appearance="outlined" class="small-cards">
            <div>

              <mat-icon class="icon">schedule</mat-icon>
            </div>
            <mat-card-content>
              <p>{{ item.openHours }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card>
      <!-- RATING -->
      <!-- EXPERIENCE POINTS -->
      <mat-card appearance="outlined" class="small-cards">
        <mat-icon class="icon">call_made</mat-icon>
        <div>
          <mat-card-header>
            <mat-card-title>LEVEL {{ item.level }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ item.experiencePoints }}/{{ item.nextLevelXp }}</p>
          </mat-card-content>
        </div>
      </mat-card>
      <!-- COINS -->
      <mat-card appearance="outlined" class="small-cards">
        <mat-icon class="icon">attach_money</mat-icon>
        <div>
          <mat-card-header>
            <mat-card-title>Daily income</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>${{ item.coins }}</p>
          </mat-card-content>
        </div>
      </mat-card>
      <!-- DAILY CUSTOMERS -->
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Daily customers</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ item.dailyCustomers }}</p>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    }
    <!-- AVAILABLE FUELS -->
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Available fuels</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          @for (fuel of fuelsData.data; track fuel) {
            <li>{{ fuel.name }}</li>
          }
        </ul>
      </mat-card-content>
      <mat-card-actions></mat-card-actions>
    </mat-card>
    <!-- AVAILABLE PROMOTIONS -->
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Active promotions</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          @for(promotion of promotionsData.data; track promotion){
            <li>{{promotion.title}}</li>
          }
        </ul>
      </mat-card-content>
      <mat-card-actions></mat-card-actions>
    </mat-card>
    <!-- AVAILABLE SERVICES -->
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Available services</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          @for(service of servicesData.data; track service){
            <li>{{service.name}}</li>
          }
        </ul>
      </mat-card-content>
      <mat-card-actions></mat-card-actions>
    </mat-card>
  </article>
} @else {
  sd
}

<!-- AVAILABLE FUELS
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p></p>
  </mat-card-content>
  <mat-card-actions></mat-card-actions>
</mat-card> -->
