@use '@angular/material' as mat;

::ng-deep .mat-mdc-table th{
    border-bottom: 2px solid black;
    background-color: var(--mat-sys-primary) !important;
    font-size: 16px;
    font-weight: 500;
    color: var(--mat-sys-surface);
}

tr:nth-child(even){
    background-color: var(--mat-sys-secondary-fixed);
}

:host {
  @include mat.table-overrides((
    row-item-outline-width: 2px,
  ));
}

:host {
  @include mat.button-overrides((
    filled-container-color: var(--primary-color),
  ));
}

::ng-deep #mat-elevation-z8{
  border-bottom: 2px solid black;
}

::ng-deep #active{
  background-color: navy;
  color: white;
}