td{
    padding: 10px;
    border: 1px dotted black;

}

th{
    text-align: left;
    width: 100px;
    border-bottom: 2px solid black;
    padding-left: 4px;
}

table{
    border-collapse: collapse;
}

.isNotAvailable{
    background-color: #fddad6;
}

.isAvailable{
    background-color: rgb(210, 252, 210);
}

tr:nth-child(even){
    background-color: rgb(238, 238, 238);
}