@if (services$ | async) {
  @let data = dataSource;

  <article>
    @for (element of data.data; track element) {
      <mat-card appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>{{ element.icon }}</mat-icon>
          </div>
          <mat-card-title>{{ element.name }}</mat-card-title>
          <mat-card-subtitle>Popularity: {{ element.popularity }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle>Description:</mat-card-subtitle>
          <p>{{ element.description }}</p>
          <mat-card-subtitle>Level: {{ element.level }} {{element.id}}</mat-card-subtitle>
          <mat-card-subtitle>Available: <mat-slide-toggle
            (change)="toggleChangeAvailability(element.id, $event)"
            [checked]="element.available"
            >{{ element.available ? 'Yes' : 'No' }}</mat-slide-toggle
          ></mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    }
  </article>
} @else {
  <mat-spinner [diameter]="50" class="grid-spinner"></mat-spinner>
}
